* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**/
body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, fr);
    grid-template-rows:  auto 100px;
}


/*NAV*/
.btn-menu label{
    z-index: 2;
    width: 60px;
    height: 60px;
    border: 3px solid #8e5431;
    background-color: #efcead;
    border-radius: 100%;
    position: fixed;
    left: 20px;
    top: 20px;
    color: #8e5431;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
}
#btn-menu{
    display: none;
}
.container-menu{
    z-index: 3;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    color: #f3e3d3;
    background-color: #8e5431;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    font-size: 25px;
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #5c3821;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #f3e3d3;
    cursor: pointer;
    font-size: 25px;
}

/* MAIN */
main {
    grid-column: 1/ span 12;
    grid-row: 1;
    width: 100%;
    height: auto;
    background-image: linear-gradient(135deg,#efcead,#efcead,#eca259,#efcead,#eca259,#efcead,#efcead );
    background-size: 500%;
    animation: animacion-fondo 10s infinite;
    display: flex;
    flex-direction: column;
}
@keyframes animacion-fondo {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0%, 50%;
    }  
}

section {
    border-radius: 15px; 
    background-color: #c98860;
    margin: 40px auto;
    width: 90%;
    min-height: 400px;
    display: flex;
    box-shadow: 10px 10px rgb(165, 104, 42);
}

.contenido_general {
    font-size: 30px;
    height: auto;
    width: 90%;
    margin: 40px auto;
}

.contenido_general h1 {
    font-size: 45px;
    text-align: center;
    border-radius: 15px;
    color: #f3e3d3;
    background-color: #8e5431;
    animation: h1 5s infinite;
    transform: translate(-100px,  -65px);
    opacity: 0;
}
@keyframes h1 {
    20%{
        transform: translate(0px, -65px);
        opacity: 1;
    }
    80%{
        transform: translate(0px, -65px);
        opacity: 1;
    }
    100%{
        transform: translate(100px, -65px);
        opacity: 0;
    }
}
.caja_pagina {
    min-height: 200px;
}
.caja_cards_sobre_mi a:link,a:visited {
    text-decoration: none;
    color:#efcead;
    background-color: #8e5431;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

/* SECTION PRESENTACION */

.caja_presentacion {
    min-height: 200px;
}

.contenido_presentacion {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    
}

.contenido_presentacion p {
    width: 600px; /*responsive*/
    height: auto;
    border-radius: 15px;
    padding: 20px;
    color: #f3e3d3;
    background-color: #8e5431;
    font-size: 60px;
    text-align: center;
    animation: nombre 10s infinite;
    transform: translateY(-100px);
    opacity: 0;
}
@keyframes nombre {
    20%{
        transform: translateY(0px);
        opacity: 1;
    }
    80%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(100px);
        opacity: 0;
    }
}

.contenido_presentacion img {
    border: 6px solid #8e5431;
    border-radius: 15px;
    transform: scale(1.2);
    width: 250px;
    height: 300px;
}

/* SECTION SOBRE MI */

.contenido_sobre_mi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}
.caja_cards_sobre_mi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #744c24;
    background-color: #efcead;
    width: 100%;
    height: auto;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}

.contenido_sobre_mi p {
    margin-bottom: 20px;
}

/* SECTION HABILIDADES */

.contenido_habilidades {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logos_habilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.logos_habilidades img {
    width: 250px;
    height: auto;
    margin-bottom: 30px;
}

/* SECTION PORTAFOLIO */

.contenido_portafolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.caja_cards_portafolio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedor-imagen{
    width: 350px;
    height: 250px;
    margin: 20px 0px;
}
.contenedor-imagen figure{
    position:relative;
    height: 250px;
    cursor: pointer;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.contenedor-imagen figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
}
.contenedor-imagen figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(114, 98, 37, 0.741);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
   text-align: center;
}
.contenedor-imagen figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor-imagen figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.contenedor-imagen figure:hover > img{
    transform: scale(1.3);
}
.contenedor-imagen figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 400ms ease-out;
     margin-top: 30px;
}
.contenedor-imagen figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}


/* SECTION ESTUDIOS */


.caja_estudios {
    min-height: 200px;
}

.contenido_estudios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caja_cards_estudios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card_estudios {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    color: #744c24;
    background-color: #efcead;
    width: 250px;
    height: auto;
    margin: 20px 10px;
    text-align: center;
    border-radius: 15px;
}

.card_estudios .titulos {
    font-size: 30px;
}

.card_estudios p {
    font-size: 20px;
}

/*FOOTER*/
footer {
    grid-column: 1/ span 12;
    grid-row: 2;
    color: #f3e3d3;
    background-color: #8e5431;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around ;
    align-items: center;
}
footer p{
    font-size: 20px;
}
.contact_logos img{
    width: 40px;
    height: 40px;
}
.contact_logos a:link{
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .contenido_presentacion p {
        width: 300px; /*responsive*/
    } 
    section {
        width: 100%;
    }
}
@media screen and (max-width:350px) {
    footer p{
        text-align: center;
    }
.contenedor-imagen{
    width: 300px;
    height: 200px;

}
.contenedor-imagen figure{
    height: 200px;
    width: 300px;
}
}